body {
  background: center center fixed no-repeat url("./src/embedded1.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background: rgba(41, 46, 54, 0.85);
  z-index: 1;
}
h1 {
  color: white;
  font-weight: 500px;
}
.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo {
  height: 60px;
  width: 60px;
}
.nav__bar {
  display: flex;
  flex-direction: row;
}
.name_Info{
  display: flex;
  font-size: 24px;
  color: white;
  margin: 0 10px;
}
.nav__button,
.nav__button__active {
  display: flex;
  font-size: 24px;
  color: white;
  margin: 0 10px;
  transition: color 0.3s;
}
.nav__button__active {
  color: #6acef7;
}
.nav__button:hover,
.Products_items:hover {
  color: #17d637;
}
.burger {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}
.burger > div {
  height: 8px;
  width: 37px;
  border-radius: 4px;
  transition: all 0.5s;
}
.line1 {
  transform: translateY(-6px);
  background-color: rgb(143, 143, 143);
}
.line2 {
  background-color: #6acef7;
}
.line3 {
  transform: translateY(6px);
  background-color: rgb(143, 143, 143);
}

.toggle_line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #6acef7;
}
.toggle_line2 {
  transform: rotate(135deg);
  opacity: 0;
  background-color: rgb(143, 143, 143);
}
.toggle_line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: #6acef7;
}

.burger_nav {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 70px;
  border-bottom-left-radius: 10px;
  right: 0;
  transform: translateX(500px);
  transition: all 0.5s ease-in-out;
  background-color: rgb(143, 143, 143);
}
.toggle_nav {
  transform: translateX(0px);
}
.burger_nav__button,
.burger_nav__button__active {
  float: left;
  font-size: 24px;
  color: white;
  margin: 0 10px;
  transition: color 0.3s;
  padding: 15px;
}
.burger_nav__button__active {
  color: #6acef7;
}

/* Video */
.video_content{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
}
#video_media{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
/* Video END */


@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
  .nav__button__active,
  .nav__button__active {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .burger {
    display: flex;
  }
  .nav__button,
  .nav__button__active {
    display: none;
  }
}
